/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #c8f7c8;
}

.mid-column {
  margin: 0 auto;
  width: 75vh;
  height: 100vh;
  background-color: #fff;
  padding: 1vh 3vh;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5em;
  margin: 3vh;
  color: #9bf09b;
}